<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>DermaCare</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SkinResult.css') }}" />
</head>
<body>
  <div class="container">

      <header>
        <h2><a href="/"><i></i> DermaCare  </a></h2>
        <nav>
        <ul>
        <li>
        <a href="/Blog" title="">Blog</a>
        </li>
        <li>
        <a href="/Contact" title="">Contact us</a>
        </li>
        <li>
        <a class="btn" href="#" title="Register / Log In">Register/Log In</a>
        </li>
        </ul>
        </nav>
      </header>
   
      <div class="cover">
        <h1>Coming Soon!</h1>
        </form>
      </div>
  </div>
</body>
