<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>DermaCare</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SkinResult.css') }}" />
</head>
<body>
  <div class="container">

    <header>
      <h2><a href="/"><i></i> DermaCare  </a></h2>
      <nav>
      <ul>
      <li>
      <a href="/Blog" title="">Blog</a>
      </li>
      <li>        
      <a href="/Contact" title="">Contact us</a>
      </li>
      <li>
      <a class="btn" href="/Register" title="Register / Log In">Register/Log In</a>
      </li>
      </ul>
      </nav>
    </header>

      <div class="cover">
          <h1>Your Results!</h1>


          <!-- ACNE -->
          {% if request == "acne" %}
            <h4>You Most Likely Have: Acne</h4>
            <h5>Consult your Doctor for more information!</h5>
            <div class="stack">
              <article class="card">
                <div class="thumb"></div>
                <div class="infos">
                  <h2 class="title">Overview<span class="flag"></span></h2>
                  <h3 class="date">Hover Here For More</h3>
                  <p class="txt">
                    Acne is a skin condition that occurs when your hair follicles 
                    become plugged with oil and dead skin cells. It often causes 
                    whiteheads, blackheads or pimples, and usually appears on the face, forehead, chest, upper back and 
                    shoulders. Acne is most common among teenagers, though it affects people of all ages.
                  </p>
                  <h3 ><a class="details" href="https://www.mayoclinic.org/diseases-conditions/acne/symptoms-causes/syc-20368047">Click for more</a></h3>
                </div>
              </article>
              <article class="card">
                <div class="thumb1"></div>
                <div class="infos">
                  <h2 class="title">Causes<span class="flag1"></span></h2>
                  <h3 class="date">Hover Here For More</h3>
                  <p class="txt">
                    - Excess oil production
                    - Hair follicles clogged by oil and dead skin cells
                    - Bacteria
                    - Excess activity of a type of hormone (androgens)
                  </p>
                  <h3><a class="details" href="https://www.mayoclinic.org/diseases-conditions/acne/symptoms-causes/syc-20368047">Click for more</a></h3>
                </div>
              </article>
              <article class="card">
                <div class="thumb2"></div>
                <div class="infos">
                  <h2 class="title">Symptons<span class="flag2"></span></h2>
                  <h3 class="date">Hover Here For More</h3>

                  <p class="txt">
                    - Whiteheads (closed plugged pores
			              - Blackheads (open plugged pores)
			              - Small red, tender bumps (papules)
			              - Pimples (pustules), which are papules with pus at their tips
			              - Large, solid, painful lumps beneath the surface of the skin(nodules)
			              - Painful, pus-filled lumps beneath the surface of the skin (cystic lesions)
                  </p>
                  <h3><a class="details" href="https://www.mayoclinic.org/diseases-conditions/acne/symptoms-causes/syc-20368047">Click for more</a></h3>
                </div>
              </article>
              </div>
          {% endif %}


          <!-- ECZEMA -->
          {% if request == "eczema" %}
            <h4>You Most Likely Have: Eczema</h4>
            <h5>Consult your Doctor for more information!</h5>
            <div class="stack">
              <article class="card">
                <div class="thumb"></div>
                <div class="infos">
                  <h2 class="title">Overview<span class="flag"></span></h2>
                  <h3 class="date">Hover Here For More</h3>
                  
                  <p class="txt">
                    Atopic dermatitis (eczema) is a condition that makes your skin red
                     and itchy. It's common in children but can occur at any age. Atopic 
                     dermatitis is long lasting (chronic) and tends to flare periodically. 
                     It may be accompanied by asthma or hay fever.
                  </p>
                  <h3 ><a class="details" href="https://www.mayoclinic.org/diseases-conditions/atopic-dermatitis-eczema/symptoms-causes/syc-20353273">Click for more</a></h3>
                </div>
              </article>
              <article class="card">
                <div class="thumb1"></div>
                <div class="infos">
                  <h2 class="title">Causes<span class="flag1"></span></h2>
                  <h3 class="date">Hover Here For More</h3>
               
                  <p class="txt">
                    - Food allergies
                    - Enviroment
                    - Bacteria
                    - genetics       
                  </p>
                  <h3 ><a class="details" href="https://www.mayoclinic.org/diseases-conditions/atopic-dermatitis-eczema/symptoms-causes/syc-20353273">Click for more</a></h3>
                </div>
              </article>
              <article class="card">
                <div class="thumb2"></div>
                <div class="infos">
                  <h2 class="title">Symptons<span class="flag2"></span></h2>
                  <h3 class="date">Hover Here For More</h3>
                
                  <p class="txt">
                    - Dry skin
                    - Itching, which may be severe, especially at night
                    - Red to brownish-gray patches, especially on the hands, feet, ankles, wrists, neck, upper chest, eyelids, inside the bend of the elbows and knees, and in infants, the face and scalp
                    - Small, raised bumps, which may leak fluid and crust over when scratched
                    - Thickened, cracked, scaly skin
                    - Raw, sensitive, swollen skin from scratching
                  </p>
                  <h3 ><a class="details" href="https://www.mayoclinic.org/diseases-conditions/atopic-dermatitis-eczema/symptoms-causes/syc-20353273">Click for more</a></h3>
                </div>
              </article>
              </div> <div class="stack">
            
            </div>
            
          {% endif %}

          <!-- ROSACEA -->
          {% if request == "rosacea" %}
            <h4>You Most Likely Have: Rosacea</h4>
            <h5>Consult your Doctor for more information!</h5>
            <div class="stack">
              <article class="card">
                <div class="thumb"></div>
                <div class="infos">
                  <h2 class="title">Overview<span class="flag"></span></h2>
                  <h3 class="date">Hover Here For More</h3>
                  
                  <p class="txt">
                    Rosacea (roe-ZAY-she-uh) is a common skin condition that causes 
                    redness and visible blood vessels in your face. It may also produce small, red, 
                    pus-filled bumps. These signs and symptoms may flare up for weeks to months and 
                    then go away for a while. Rosacea can be mistaken for acne, other skin problems or 
                    natural ruddiness.
                    
                  </p>
                  <h3><a class="details" href="https://www.mayoclinic.org/diseases-conditions/rosacea/symptoms-causes/syc-20353815">Click for more</a></h3>
                </div>
              </article>
              <article class="card">
                <div class="thumb1"></div>
                <div class="infos">
                  <h2 class="title">Causes<span class="flag1"></span></h2>
                  <h3 class="date">Hover Here For More</h3>
                  
                  <p class="txt">
                    - Hot drinks and spicy foods
                    - Red wine and other alcoholic beverages
                    - Temperature extremes
                    - Sunlight or wind
                    - Emotions
                    - Exercise
                    - Drugs that dilate blood vessels, including some blood pressure medications
                    - Various cosmetic products
                  </p>
                  <h3><a class="details" href="https://www.mayoclinic.org/diseases-conditions/rosacea/symptoms-causes/syc-20353815">Click for more</a></h3>
                </div>
              </article>
              <article class="card">
                <div class="thumb2"></div>
                <div class="infos">
                  <h2 class="title">Resources<span class="flag2"></span></h2>
                  <h3 class="date">Hover Here For More</h3>
              
                  <p class="txt">
                    - Facial Redness
                    - Swollen, Red bumps
                    - Eye Problems
                    - Enlarged nose
                  </p>
                  <h3><a class="details" href="https://www.mayoclinic.org/diseases-conditions/rosacea/symptoms-causes/syc-20353815">Click for more</a></h3>
                </div>
              </article>
              </div>
          {% endif %}

          <!-- LYME DISEASE -->
          {% if request == "lyme_disease" %}
            <h4>You Most Likely Have: Lyme Disease</h4>
            <h5>Consult your Doctor for more information!</h5>
            <div class="stack">
              <article class="card">
                <div class="thumb"></div>
                <div class="infos">
                  <h2 class="title">Overview<span class="flag"></span></h2>
                  <h3 class="date">Hover Here For More</h3>
                  
                  <p class="txt">
                    Lyme disease is caused by four main species of bacteria. 
                    Borrelia burgdorferi and Borrelia mayonii cause Lyme disease in the United States, 
                    while Borrelia afzelii and Borrelia garinii are the leading causes in Europe and Asia.
                    The most common tick-borne illness in these regions, Lyme disease is transmitted by the bite 
                    of an infected black-legged tick, commonly known as a deer tick.
                  </p>
                  <h3 ><a class="details" href="https://www.mayoclinic.org/diseases-conditions/lyme-disease/symptoms-causes/syc-20374651">Click for more</a></h3>
                </div>
              </article>
              <article class="card">
                <div class="thumb1"></div>
                <div class="infos">
                  <h2 class="title">Causes<span class="flag1"></span></h2>
                  <h3 class="date">Hover Here For More</h3>
               
                  <p class="txt">
                    Lyme Disease is caused by a bacteria which is carried by a ticks
                  </p>
                  <h3 ><a class="details" href="https://www.mayoclinic.org/diseases-conditions/lyme-disease/symptoms-causes/syc-20374651">Click for more</a></h3>
                </div>
              </article>
              <article class="card">
                <div class="thumb2"></div>
                <div class="infos">
                  <h2 class="title">Symptons<span class="flag2"></span></h2>
                  <h3 class="date">Hover Here For More</h3>
                
                  <p class="txt">
                    - Early symptons include: Fever, chills, 
                      fatigue, body aches, headache, neck stiffness 
                      and swollen lymph nodes all acompanied by a rash.
                    - Erythema migrans
                    - Joint pain
                    -Neurological problems

                  </p>
                  <h3 ><a class="details" href="https://www.mayoclinic.org/diseases-conditions/lyme-disease/symptoms-causes/syc-20374651">Click for more</a></h3>
                </div>
              </article>
              </div>
          {% endif %}

          
         
      </div>
  </div>
  
</body>
</html>